<html>
  <head>
    <% if message == "Way Too high!" || message == "Way Too low!" %>
    <style>
      body {
        background: #f3172d;
      }
    </style>
    <% elsif message == "Too high!" || message == "Too low!" %>
    <style>
      body {
        background: #FF6347;
      }
    </style>
    <% elsif message == "You got it right!" %>
    <style>
      body {
        background: #008000;
      }
    </style>
    <% end %>
  </head>
  <body>
    <p>
      Please guess a number between 1-100:
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      "<%= message %>"
    </p>
    <p>
      <% if message == "You got it right!" %>
        The SECRET NUMBER is <%= rand_num %>.
      <% end %>
    </p>
  </body>
</html>
