<html>
  <head></head>
  <body>
    <p>
      Please guess a number between 1-100:
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      "<%= message %>"
    </p>
    <p>
      <% if message == "You got it right!" %>
        The SECRET NUMBER is <%= rand_num %>.
      <% end %>
    </p>
  </body>
</html>
